.wp-block-separator.is-style-dots:before {
    color: inherit;
}

.wp-block-separator {
    border-bottom-color: currentColor;
    margin: 1.5em auto;

    &:not([class*="is-style"]) {
        max-width: 100px;
    }
}

.wp-block-audio[class] {
    margin-left: 0;
    margin-right: 0;

    audio {
        width: 100%;
    }
}

.wp-block-button[class] a {
    color: inherit;
    text-decoration: none;
}

.wp-block-gallery[class] {
    display: flex;
    padding-left: 0;
}

.wp-block-cover[class][class] {
    display: flex;
    margin-top: 1.125em;
    margin-bottom: 1.125em;

    p {
        position: relative;
        transform: none;
        margin-bottom: 0;
    }
}

p.wp-block-subhead {
    color: inherit;
}

.wp-block-code,
.wp-block-preformatted pre,
.wp-block-verse pre,
pre.wp-block-verse {
    color: inherit;
}

.editor-block-list__layout .editor-block-list__block[data-align=left] .editor-block-list__block-edit {
    margin-right: 0;
    margin-bottom: 0;
}

.wp-block-image .alignleft,
.editor-block-list__layout .editor-block-list__block[data-align=left] .editor-block-list__block-edit > * {

    @media only screen and (min-width: 899px) {
        margin-right: 3em;
        width: auto;
    }

    @media only screen and (min-width: 1359px) {
        margin-left: -3.75em;
    }
}

.editor-block-list__layout .editor-block-list__block[data-align=right] .editor-block-list__block-edit {
    margin-left: 0;
    margin-bottom: 0;
}

.wp-block-image .alignright,
.editor-block-list__layout .editor-block-list__block[data-align=right] .editor-block-list__block-edit > * {

    @media only screen and (min-width: 899px) {
        margin-left: 3em;
        width: auto;
    }

    @media only screen and (min-width: 1359px) {
        margin-right: -3.75em;
    }
}

.wp-block-image .aligncenter > figcaption {
    display: block;
}

figure.wp-block-pullquote {
    padding: 0;
    border: 0;
    margin-top: 0;
    color: inherit;

    &[class*="align"] blockquote {
        margin: 0;
        padding: 0;
    }
}

.wp-block-pullquote__citation,
.wp-block-pullquote cite,
.wp-block-pullquote footer {
    display: block;
    margin-top: 32px;
    font-size: 12px;
    font-weight: 200;
    text-transform: none;
}

.wp-block-pullquote[class] p {
    font: inherit;
}

.wp-block-pullquote.alignleft {
    margin-left: -3.75em;
    margin-right: 3em;
}

.wp-block-pullquote.alignright {
    margin-right: -3.75em;
    margin-left: 3em;
}
