pre {
	white-space: pre;
	white-space: pre-wrap;
	word-break: break-all;
	word-wrap: break-word;
}

%pre {
	@extend %default-spacing !optional;
	padding: $default-spacing-unit/2 $default-spacing-unit;
	border: 1px solid;
}
