@font-face {
    font-family: "Montserrat";
    font-weight: 100;
    src: url('montserrat-thin.eot');
    src: url('montserrat-thin.eot?#iefix') format('embedded-opentype'),
        url('montserrat-thin.woff2') format("woff2"),
        url('montserrat-thin.woff') format("woff"),
        url('montserrat-thin.ttf') format("truetype"),
        url('montserrat-thin.svg#svgFontName') format("svg");
}
@font-face {
    font-family: "Montserrat";
    font-weight: 200;
    src: url('montserrat-extralight.eot');
    src: url('montserrat-extralight.eot?#iefix') format('embedded-opentype'),
        url('montserrat-extralight.woff2') format("woff2"),
        url('montserrat-extralight.woff') format("woff"),
        url('montserrat-extralight.ttf') format("truetype"),
        url('montserrat-extralight.svg#svgFontName') format("svg");
}
@font-face {
    font-family: "Montserrat";
    font-weight: 300;
    font-style: normal;
    src: url('montserrat-light.eot');
    src: url('montserrat-light.eot?#iefix') format('embedded-opentype'),
        url('montserrat-light.woff2') format("woff2"),
        url('montserrat-light.woff') format("woff"),
        url('montserrat-light.ttf') format("truetype"),
        url('montserrat-light.svg#svgFontName') format("svg");
}
@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    src: url('montserrat-regular.eot');
    src: url('montserrat-regular.eot?#iefix') format('embedded-opentype'),
        url('montserrat-regular.woff2') format("woff2"),
        url('montserrat-regular.woff') format("woff"),
        url('montserrat-regular.ttf') format("truetype"),
        url('montserrat-regular.svg#svgFontName') format("svg");
}
@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    src: url('montserrat-bold.eot');
    src: url('montserrat-bold.eot?#iefix') format('embedded-opentype'),
        url('montserrat-bold.woff2') format("woff2"),
        url('montserrat-bold.woff') format("woff"),
        url('montserrat-bold.ttf') format("truetype"),
        url('montserrat-bold.svg#svgFontName') format("svg");
}