
// GUTENBERG EDITOR-ONLY STYLES
// ----------------------------------

@import "settings/default";

@import "tools/helpers";
@import "tools/queries";

@import "generic/reset";
@import "generic/box-sizing";

@import "base/blockquote";

.edit-post-visual-editor[class][class]  {
    @import "base/typography";
    @import "base/pre";
    @import "base/tables";
    @import "base/titles";
    @import "base/form-elements";
    @import "base/wp-align";
    @import "base/gutenberg";

    $editor-style: true;

    font-family: $font-family--default;
    line-height: $default-line-height;
    font-weight: 200;

    background: $color-light;
    color: $color-dark;

    @import "components/lists";

    .block-editor-block-list__layout .wp-block,
    .editor-post-title__block {
        margin-left: auto;
        margin-right: auto;
    }

    .editor-post-title__input {
        font-family: $font-family--default;
        font-weight: 400;
        text-transform: uppercase;
        @extend %h1;
        line-height: 1.25;
    }

    .block-editor-block-list__layout .wp-block,
    .editor-post-title__block {
        max-width: 620px;
    }

    .wp-block-preformatted pre,
    .wp-block-verse pre,
    pre.wp-block-verse {
        color: inherit;
    }

    blockquote {
        @extend %blockquote;
    }

    pre {
        @extend %default-spacing !optional;
        padding: $default-spacing-unit/2 $default-spacing-unit;
        border: 1px solid;
    }

    .wp-block-quote:not(.is-large):not(.is-style-large) {
        border-left: 0;
        padding-left: 0;
    }

    blockquote p {
        font: inherit;
    }
}
