.tags {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 40px;
	margin-bottom: 50px;

	a {
		display: inline-block;
		font-size: 12px;
		font-weight: 200;
		color: #C3C3C3;
		text-transform: uppercase;
		padding: .5em;

		&:before {
			content: "#";
		}
	}

	&:after {
		margin-top: 50px;
		background-color: #979797;
	}
}
